.agreedImage
{
	background: url(/static/images/icon_small/icon_small.png);
	background-repeat: no-repeat;
}

.agreedImage:hover
{
	background: url(/static/images/icon_small/icon_small_2.png);
	background-repeat: no-repeat;
}


.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color:black;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 .modal-header h4
 {
	
	color:white
 }
 .modal-header.close
 {
	color:white
 }
 
.large
{
    width: 90%; /* respsonsive width */
     
}
 


