<!DOCTYPE html>
<html>
<head>
    <title>Angular2</title>

   <script src="/static/angularjs/angular.min.js"></script>
    <script>


    var app = angular.module('myApp', []);
    app.controller('MainController', function($scope, books) {
      $scope.startAdd = function() {
        $scope.newItem = { name: '', publisher: '', description: '' };
        $scope.adding = true;
      };

      $scope.items = angular.copy(books);
      $scope.addItem = function() {
        $scope.adding = false;
        var newItem = angular.copy($scope.newItem);
        newItem.description = newItem.description.replace(/\n/g, '<br>');
        newItem.description = "<p>" + newItem.description + "</p>";
        $scope.items.push(newItem);
      };

      $scope.cancelAdd = function() {
        $scope.adding = false;
      };
    });
 </script>


    <style>
        .add-window {
          min-width: 350px;
          position: fixed;
          bottom: 0px;
          right: 10px;
          border: 1px solid black;
          background-color: white;
        }

        .add-window .header {
          background-color: #333;
          color: white;
        }

        .add-window div {
          padding: 5px 20px;
        }

        .description {
          margin: 10px 0;
        }

        label {
          display: inline-block;
          width: 100px;
          text-align: right;
          vertical-align: top;
        }

        .button-bar {
          text-align: right;
        }

        input[type=text] {
          width: 200px;
        }

        textarea {
          width: 200px;
          height: 100px;
        }




    </style>
</head>
<body>




<div ng-app="myApp">
  <div ng-controller='MainController'>
    <button ng-click="startAdd()">Add Item</button>
    <ul>
      <li ng-repeat="item in items">
        <a href='' ng-click="item.showing = !item.showing">
          {{item.name}}, {{item.publisher}}
        </a>
        <div ng-show="item.showing" class='description'
          ng-bind-html-unsafe="item.description"></div>
      </li>
    </ul>
    <form ng-show="adding" class="add-window" ng-submit="addItem()">
      <div class='header'>Add a Book</div>
      <div class='inner'>
        <div>
          <label>Name: </label>
          <input type="text" ng-model="newItem.name" required>
        </div>
        <div>
          <label>Publisher: </label>
          <input type="text" ng-model="newItem.publisher" required>
        </div>
        <div>
          <label>Description: </label>
          <textarea ng-model="newItem.description"></textarea>
        </div>
        <div class='button-bar'>
          <input type="submit" value="Add">
          <button type="button" ng-click="cancelAdd()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>


</body>
</html>