<!DOCTYPE html>
<html>
<head>
    <script src="/static/angularjs/angular.min.js"></script>
    <script>
    var myApp=angular.module('myApp',[]);


  myApp.service('Math', function () {
  this.multiply = function (x, y) {
    return x * y;
  };
});







    myApp.controller('MainCtrl', ['$scope','Math', function ($scope,Math) {

        $scope.text='Hi there Angular';
        var a = 12;
    var b = 24;

    // outputs 288
    var result = Math.multiply(a, b);
        console.log(result);


    }]);
    myApp.controller('NavCtrl', ['$scope', function ($scope) {}]);
    myApp.controller('UserCtrl', ['$scope', function ($scope) {
        $scope.user={};

        $scope.user.details={"username":"James","id":"77997"};


     }]);


     myApp.directive('customButton',function(){
      return {

                restrict:'A',
                replace:true ,
                transclude:true,
                template:'<a href="" class="myawesomebutton" ng-transclude>' +
                '<i class="icon-ok-sign"></i>' +
                '</a>',
                 link:function(scope,element,attrs)
                 {

                 }


        }
     });
    </script>
</head>
<body>


<div ng-app="myApp">
    <div ng-controller="MainCtrl">



        <input type="text" ng-model="myModel" placeholder="Start typing..." />
        <p>My model data: {% verbatim %}{{ myModel }}{% endverbatim %}</p>

        <a custom-button>Click me</a>

        <p>{%verbatim%}
            {{ text }}
        </p>{%endverbatim%}

    </div>

    <div ng-controller="UserCtrl">
        <p class ="username">Welcome
            {% verbatim %}
                {{ user.details.username }}</p>
            {% endverbatim %}
    </div>
</div>
</body>
</html>