
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="/static/css/uni_form/default.uni-form.css" type="text/css" />
        
        <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta name="description" /><meta name="author" />
        {% block extrahead %} {% endblock %}
    
    </head>
    <body>
        <div class="navbar navbar-default navbar-top">
      <div class="container">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Crowd Journal</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/news">News</a></li>

              <li><a href="/login">Login</a></li>
          {% if  not user.is_authenticated %}
              <li><a href="/register">Register {{ user.username }}</a></li>
          {% endif %}

            <li><a href="/logout">Logout</a></li>
             <li><a href="#">{% if user.is_authenticated %}Welcome {{ user.username }} {%else %}Not logged In  {% endif %} </a></li>
          <li><a href="/createsampledata">Create Sample data</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
        
    </div>
     <div class="container">
        {% block content %}
        {% endblock %}
     </div>
    </body>
</html>