{% extends 'base.html' %}
{% block extrahead %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script src="/static/jquery/js/jquery-1.10.2.js"></script>
<script src="/static/jquery/js/jquery-ui-1.10.4.custom.js"></script>
<script type = "text/javascript">


 google.load('visualization', '1.1', {packages: ['geochart'], callback: drawVisualization});

function drawVisualization() {
    var data = google.visualization.arrayToDataTable([
        ['Country', 'Value', {role: 'tooltip', p:{html:true}}],
        ['Russia', 50, 'Hey there'],
        ['US', 200, '<img src="https://www.google.com/images/srpr/logo6w.png"/>'],
        ['Croatia', 120, '<img src="https://www.google.com/images/srpr/logo6w.png"/>']
    ]);
    var chart = new google.visualization.GeoChart(document.getElementById('geoChart'));
    chart.draw(data, {
        width: 800,
        height: 600,
        tooltip: {
            isHtml: true
        },
        colorAxis: {colors: ['blue', 'green']}

    });
    google.visualization.events.addListener(chart, 'select', function() {
    var selection = chart.getSelection();

    // if same city is clicked twice in a row
    // it is "unselected", and selection = []
    if(typeof selection[0] !== "undefined") {

      var value = data.getValue(selection[0].row, 0);
      // alert(value);
       var link="http://stackoverflow.com"+value;
        //var windowOpen=window.open("http://www.google.com", '_blank');
     // window.location.href =link;





      var SplitText = "Title"
      var styledHtml= "<h1>"+value+"</h1>"
        var $dialog =  $( "#dialog" )
        .html(SplitText )
        .dialog({
        height: $(window).height()/4,
        width:$(window).width()/5 ,
        position: { my: 'right-250',at: 'right top+170'},
        title: 'Title'});

        $dialog.dialog('open');

        $dialog.html(styledHtml);


/*
        //Request
         var json;
        $.getJSON("http://api.openweathermap.org/data/2.5/weather?q=Madrid,es")
        .success(function (data) {
        //alert(JSON.stringify(data));
            $dialog.html(JSON.stringify(data));
         });
         */


     //

    }
});
}





</script>
{% endblock %}
<body>

{% block content %}
<div id="geoChart" style="width: 250px; height: 400px;"></div>

<div id="dialog" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

<div id="jsonData">


</div>
{% endblock %}