<!DOCTYPE html>
<html>
<head>
    <title>Form Page</title>
</head>
<body>
    <form action = "/form/" method="post">{%  csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>