{% extends 'base.html' %}
{% block content %}





    <div class=" col-lg-12 col-xs-12 col-lg-offset-0">
    <ul style="list-style: none">
    <h4 style="color: #428bcd">{{ selectedNews.title }} {% if user.is_authenticated %} <a href="/newsaddargument/{{ selectedNews.id }}"><span class="glyphicon glyphicon-plus-sign"></span> </a>{% endif %}</h4>
    {{ selectedNews.description }}
    </ul>
    </div>

     <div class=" col-lg-4 col-xs-4">

         <ul style="list-style: none">
        {% for singleArgument in selectedNews.getYesArguments %}

        <li>
            <h4> <span class="glyphicon glyphicon-ok-circle"></span> {{singleArgument.count }} {{ singleArgument.title }} </h4>
            {{ singleArgument.description }}
        </li>
        {% endfor %}
      </ul>
    </div>


    <div class=" col-lg-4 col-xs-4">

    <ul style="list-style: none">
        {% for singleArgument in selectedNews.getNoArguments %}

        <li>
           <h4> <span class="glyphicon glyphicon-remove-circle"></span> {{singleArgument.count }} {{ singleArgument.title }} </h4>
            {{ singleArgument.description }}
        </li>
        {% endfor %}


    </ul>
    </div>
    <div class=" col-lg-4 col-xs-4">

    <ul style="list-style: none">
        {% for singleArgument in selectedNews.getNeutralArguments %}

        <li>
          <h4> <span class="glyphicon glyphicon-sort"></span> {{singleArgument.count }} {{ singleArgument.title }} </h4>
            {{ singleArgument.description }}
        </li>
        {% endfor %}


    </ul>
    </div>
{% endblock %}