{% load bootstrap %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { overflow: hidden; }
      body { overflow: hidden;height: 650px;}
      #map-canvas {  width:%100;
        height: 572px;  }
    </style>
      <!--Link to JQUERY  it is probably different, you probably need to modify it-->
       <script src="/static/jquery/js/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
      <link rel="stylesheet" href="/static/css/custom/custom.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/static/css/spectrum.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="static/javascript/rainbowvis.js"></script>
    <script src="static/javascript/spectrum.js"></script>



    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript"
            src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.5/src/markerwithlabel_packed.js">
    </script>
     <script type="text/javascript"
            src="static/javascript/infobox.js">

    </script>

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.1.0/annyang.min.js"></script>-->
    <script src="static/javascript/annyang.min.js"></script>



      <script src="/static/javascript/maprelated.js"></script>
    <!--You can put the contents of the colorCountriesGoogleMaps.js in the following script tag -->
    <script type="text/javascript">
 /*
This script constructs a google maps map with countries drawn as polygons.
I guess it can also be done with KML and etc but this is javascript version
It may take a bit to render.
I get the .json file from https://github.com/johan/world.geo.json , countries.geo.json file.
Beware i am not expert on javascript , feel free to suggest: )
*/
//Creates a polygon from given coordinates

 var map=null;
 var markers = []
 var polygons = []
 var infoWindows = []
 var receivedCountryRankings;
 var newsId;
 var refreshRate;
 var userLatitude;
 var userLongitude;
 var refreshRateInMiliSeconds
 var mapTypeProperty;
 var zoomInToALocation=true;
 var authenticated=false
 var colorUtility=new Rainbow();
 var ShowCurrentControlText;
 var mostColor;
 var leastColor;
 var globeColor;
 var emptyColor;
 var strokeColor;
 var strokeWeight;
 var upperBoundOfRanking;
 var mapTypeMapping={'countryyesrankings':'Agreed','countrynorankings':'Disagreed','countryneutralrankings':'Neutral','countrynewsrankings':'Discussed'}
 var mapColorsAgreed={'Most':'green','Least':'white'}
 var mapColorsDisagreed={'Most':'#F4A460','Least':'white'}
 var mapColorsDiscussed={'Most':'red','Least':'white'}
 var mapColorsNeutral={'Most':'blue','Least':'white'}
 var username;





 function setMostAndLeastFromMapType(selectedType)
 {
     if(selectedType=='Agreed')
     {
        mostColor=mapColorsAgreed['Most'];
       leastColor=mapColorsAgreed['Least'];
     }
     else if(selectedType=='Disagreed')
     {
        mostColor=mapColorsDisagreed['Most'];
        leastColor=mapColorsDisagreed['Least'];
     }
     else if(selectedType=='Neutral')
     {
         mostColor=mapColorsNeutral['Most'];
        leastColor=mapColorsNeutral['Least'];
     }
     else if(selectedType=='Discussed')
     {
        mostColor=mapColorsDiscussed['Most'];
        leastColor=mapColorsDiscussed['Least'];
     }
     else
     {
        console.log("There is an error");
     }
 }





function addCommands()
{
   console.log("hi there man")
    if (annyang) {
  // Let's define our first command. First the text we expect, and then the function it should call
  var commands = {
    'show (me) yes': function() {
        initializeMapWithProperty('countryyesrankings');

    },
    'show (me) no': function()
    {
        initializeMapWithProperty('countrynorankings');
    },
    'show (me) neutral': function()
    {
        initializeMapWithProperty('countryneutralrankings');
    },
    'show (me) news': function()
    {
        initializeMapWithProperty('countrynewsrankings');
    }




  };

  // Add our commands to annyang
  annyang.addCommands(commands);

  // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
    }

}

function setSpectrumColor()
 {

 }

function getValuesFromSession()
{

    mostColor="{{ request.session.currentColorMost }}"
    leastColor="{{request.session.currentColorLeast }}"
    globeColor="{{ request.session.currentColorGlobe }}"
    strokeColor="{{ request.session.currentColorStroke }}"
    strokeWeight="{{ request.session.currentWeightStroke }}"
    emptyColor="{{ request.session.currentColorEmpty }}"
    console.log ( "mostColor:" +mostColor)
    console.log ( "leastColor:" + leastColor)
    console.log ( "globeColor:" +globeColor)
    console.log ( "emptyColor:" +emptyColor)
    console.log("Stroke Color: " +strokeColor)
    console.log("Stroke weight:" +strokeWeight )
    userLatitude = "{{request.session.latitude}}"
    userLongitude= "{{request.session.longitude }}";
    refreshRate= "{{request.session.refreshRate }}"
    mapTypeProperty="{{ request.session.mapType }}"
    refreshRateInMiliSeconds=refreshRate*1000;
    authenticationText="{{ request.session.authenticated }}"
    username="unknown"
    if(authenticationText=="true")
    {
        username="{{ request.session.username }}"
        authenticated=true;
    }
    if(userLatitude==750)
    {

        zoomInToALocation=false;
    }
    console.log("userLatitude is" + userLatitude + " userLongitude is " + userLongitude);
    console.log("refresh rate is " + refreshRate)
    console.log("refresh rate in miliseconds is " +refreshRateInMiliSeconds)
    console.log("authentication status is : " + authenticated);
    console.log("Globe color is" + globeColor)

}





























function openColorPicker()
{

    $("#colorPickerMostInput").spectrum({
    color: mostColor,
    showInput: true,
         preferredFormat: "hex",
        clickoutFiresChange: true,
         show: function(color) {console.log("Entered here"); $("#basic-log").text("change called: " + color.toHexString());},

        showInitial: true,

    change: function(color) {
        $("#basic-log").text("change called: " + color.toHexString());

    }


});
    $("#colorPickerMostInput").val(mostColor);
     $("#colorPickerLeastInput").spectrum({
    color: leastColor,
    showInput: true,
          preferredFormat: "hex",
         clickoutFiresChange: true,

         showInitial: true,

    change: function(color) {
        $("#basic-log").text("change called: " + color.toHexString());
    }

});
    $("#colorPickerLeastInput").val(leastColor);
     $("#colorPickerEmptyInput").spectrum({
    color: emptyColor,
    showInput: true,
          preferredFormat: "hex",
         clickoutFiresChange: true,

         showInitial: true,

    change: function(color) {
        $("#basic-log").text("change called: " + color.toHexString());
    }

});
    $("#colorPickerEmptyInput").val(emptyColor);
     $("#colorPickerGlobeInput").spectrum({
    color: globeColor,
    showInput: true,
          preferredFormat: "hex",
         clickoutFiresChange: true,

         showInitial: true,

    change: function(color) {
        $("#basic-log").text("change called: " + color.toHexString());
    }

});
    $("#colorPickerGlobeInput").val(globeColor);
    showModalWithId('#colorPickerModal')




     $("#colorPickerStrokeInput").spectrum({
    color: strokeColor,
    showInput: true,
          preferredFormat: "hex",
         clickoutFiresChange: true,

         showInitial: true,

    change: function(color) {
        $("#basic-log").text("change called: " + color.toHexString());
    }

});
     $("#colorPickerStrokeInput").val(strokeColor);
    $("#colorPickerStrokeWeightInput").val(strokeWeight)
    showModalWithId('#colorPickerModal')





}




function changeRefresh()
{

    refreshRate=$('#refreshInput').value;
    return false;
}








function createGenericHtmlListItem(opinion,description,count,id,title,iconUrl)
 {
    listItemStartTag='<div class="col-md-12 insideArgumentArgumentDescription" style="margin-top:15px !important;">'
    listItemCloseTag='</div>'

     if(authenticated==true)
    {
     idIcon='<a href="/incrementargument/'+id+'"class="'+iconUrl+'"></a><input type="button" style="width:0px;visibility:hidden;"/>'+'<span style="color:#4298ee;margin-left:-2px;">'+count+'</span>'+'<span class="insideArgumentArgumentTitle">    '+title+'</span>'+' '+'';
     //idIcon='<span><a href="http://twitter.com/me" class="argumentAddYesIcon" title="Twitter link"></a></span>'
    }
    else
    {
     idIcon='<input><a href="#"class="'+iconUrl+'"></a></input>'+'<span style="color:#4298ee;">'+count+'</span>'+'<span class="insideArgumentArgumentTitle">    '+title+'</span>'+' '+'';
    }

    htmlListItem=listItemStartTag+idIcon +listItemCloseTag;
    htmlListDescriptionItem=listItemStartTag +''+description+listItemCloseTag;

    htmlItems=htmlListItem+htmlListDescriptionItem;
    return htmlItems;
 }








 function createHtmlOfModalWithArgumentType(searchedOpinion, newsId, iconUrl, modalIdDescriptor)
{
    argumentsUrl = "http://localhost:8000/singlenewsopinion/" + newsId+"/"+searchedOpinion
    singleNewsUrl="http://localhost:8000/singlenewstitle/" + newsId
    $.when ($.ajax({cache: false,url:argumentsUrl,context: document.body}),$.ajax({cache: false,url:singleNewsUrl,context: document.body})).done(function (argumentInfos,newsInfos)


    {

        receivedArgumentsData = argumentInfos[0];
        console.log(receivedArgumentsData)
        var newsTitle=newsInfos[0][0].title
        arguments = receivedArgumentsData
        htmlListItems = '<div class="container" style="width:100%;margin-left:-6%;">'+'<div class="col-md-9 insideArgumentNewsTitle" >'+ newsTitle+'</div><br/><br/>';
        var i;
        for (i = 0; i < arguments.length; i++)
        {

            argumentOpinion = arguments[i].opinion;
            if (argumentOpinion == searchedOpinion)
            {
                argumentTitle = arguments[i].title;
                argumentId = arguments[i].id;
                argumentCount = arguments[i].count;
                argumentDescription = arguments[i].description;
                htmlListItems = htmlListItems + createGenericHtmlListItem(argumentOpinion, argumentDescription, argumentCount, argumentId, argumentTitle, iconUrl)

            }



        }

        htmlListItems = htmlListItems + "</div>"
        htmlContent =  htmlListItems




        modalContentId = "#" + modalIdDescriptor + "ModalInfo";

        modalId = "#" + modalIdDescriptor + "Modal";
        $(modalContentId).html(htmlContent);
        $(modalId).modal('show');



    });
}

























/*

function createHtmlOfModalWithArgumentType(searchedOpinion, newsId, iconUrl, modalIdDescriptor)
{
    argumentsUrl = "http://localhost:8000/singlenewsopinion/" + newsId+"/"+searchedOpinion
    singleNewsUrl="http://localhost:8000/singlenewstitle/" + newsId
    $.when ($.ajax({cache: false,url:argumentsUrl,context: document.body}),$.ajax({cache: false,url:singleNewsUrl,context: document.body})).done(function (argumentInfos,newsInfos)


    {

        receivedArgumentsData = argumentInfos[0];
        console.log(receivedArgumentsData)
        var newsTitle=newsInfos[0][0].title
        arguments = receivedArgumentsData
        htmlListItems = '<ul style="list-style-type: none;">';
        var i;
        for (i = 0; i < arguments.length; i++)
        {

            argumentOpinion = arguments[i].opinion;
            if (argumentOpinion == searchedOpinion)
            {
                argumentTitle = arguments[i].title;
                argumentId = arguments[i].id;
                argumentCount = arguments[i].count;
                argumentDescription = arguments[i].description;
                htmlListItems = htmlListItems + createGenericHtmlListItem(argumentOpinion, argumentDescription, argumentCount, argumentId, argumentTitle, iconUrl)
            }



        }

        htmlListItems = htmlListItems + "</ul>"
        htmlContent =   newsTitle  + htmlListItems




        modalContentId = "#" + modalIdDescriptor + "ModalInfo";

        modalId = "#" + modalIdDescriptor + "Modal";
        $(modalContentId).html(htmlContent);
        $(modalId).modal('show');



    });
}

*/





 function createPolygonFromSinglePolygonCoordinates(coordinates, lattitudes, longitudes)
 {
     var lattitude;
     var longitude;
     //We should check all the coordinates of a country
     $.each(coordinates, function (i)
     {
         //The data is stored as long,lat in the json file
         lattitude = coordinates[i][1];
         longitude = coordinates[i][0];
         lattitudes.push(lattitude);
         longitudes.push(longitude);



     });

     var polygonCoordinates = [];
     var singleCoordinate;
     //We already know that the number of longitudes and lattitudes are equal
     $.each(lattitudes, function (i)
     {
         singleCoordinate = new google.maps.LatLng(lattitudes[i], longitudes[i]);
         polygonCoordinates.push(singleCoordinate);
     });
     return polygonCoordinates;
}

 function removeOverlays()
 {
     console.log("Removing Overlays");
     map.clearOverlays();

 }

function displayAddArgumentModal(id)
{
    url = "http://localhost:8000/singlenews/" + id;

    $.ajax(
    {
        cache: false,
        url: url,
        context: document.body


    }).done(function (data)
    {
        receivedData = data[0];
        title = receivedData.title;
        yesCount=receivedData.yesCount;
        noCount=receivedData.noCount;
        neutralCount=receivedData.neutralCount;
        console.log(title);
        htmlContent = "<div>" + title +'<div><input type="button" class="yesInfoWindowWithoutInput" tabindex="8">' +'<span class="infoBoxCountsAddArgument">'+yesCount+'</span>'+'<input  type="button" class="noInfoWindowWithoutInput"tabindex="8"/>'+'<span class="infoBoxCountsAddArgument">'+ noCount+'</span><input  type="button" class="noInfoWindowWithoutInput"tabindex="8"/>'+'<span class="infoBoxCountsAddArgument">'+neutralCount + "</span></div></div>" ;
        htmlContent = htmlContent +
            ' <form action = "/newsaddargument/' + id + '/" method="post"><div class="form-group"><label class="control-label  " for="id_title">TITLE</label><div class=" "><input class=" form-control" id="id_title" style="background:#ebebeb" maxlength="150" name="title" type="text" /></div></div><div class="form-group"> <label class="control-label  " for="id_description">DESCRIPTION</label><div class=" "><textarea class=" form-control" style="background:#ebebeb" cols="40" id="id_description" name="description" rows="10"></textarea></div></div><div class="form-group"><label class="control-label  " for="id_opinion">OPINION</label><div class=" "><select class=" form-control" style="background:#ebebeb" id="id_opinion" name="opinion"><option value="" selected="selected">---------</option><option value="Y">AGREED</option><option value="N">DISAGREED</option><option value="E">NEUTRAL</option></select></div></div><input type="submit" class="submitButtonArgument"  value=""/></form>'     //<input type="hidden" name="csrfmiddlewaretoken" value="a97sNgmKsFeZZM2QBnqwk4DGIjXanmXK" />
        $('#argumentModalInfo').html(htmlContent);
        $('#argumentModal').modal('show');
        //$('#emptyModal').modal('show');
    });


}

 function emptyModal()
 {

 }










function showModalWithId(id)
{
    $(id).modal('show');
}

 function showRefreshModal()
 {
     $('#refreshInput').val(refreshRate);
     $('#mapTypeInput').val(mapTypeProperty);

     showModalWithId("#settingsModal")
 }



 function getColorsWithDifferentProperties()
 {

 }



function initialize()
{
    getValuesFromSession()
     setInterval(function () {
        initializeMapWithProperty(mapTypeProperty)
    },refreshRateInMiliSeconds);
    selectedMapType=mapTypeMapping[mapTypeProperty];
    setMostAndLeastFromMapType(selectedMapType)
    colorUtility.setSpectrum(mostColor,leastColor)
    customInitializeMap(mapTypeProperty);

    printPanel()
    addCommands();
    console.log("Annyang started");






}



 function initializeMapWithProperty(property)
 {
     removeOverlays();
     console.log("removed overlays")
     mapTypeProperty=property




     selectedMapType=mapTypeMapping[mapTypeProperty];

     setMostAndLeastFromMapType(selectedMapType)
     colorUtility.setSpectrum(mostColor,leastColor)
    //console.log("selectedMapType is " +selectedMapType);
    selectedMapTypePanel='<b>Selected : </b>'+ selectedMapType +' count<b>|</b>';
     $('#selectedMapTypeId').html(selectedMapTypePanel);
     console.log("Entering to Custom Initialize Map");
     customInitializeMap(property);
      ShowCurrentControlText.innerHTML=mapTypeMapping[mapTypeProperty];

 }


 function printPanel()
 {

    panel="";
    agreePanel='<span><input name="submit" id="submitme" type="button"  class="panelAgreeIcon" onclick="initializeMapWithProperty(\'countryyesrankings\')"tabindex="8"  /></span>';
    panel+=agreePanel;
    disagreePanel='<span><input name="submit" id="submitme" type="button" class="panelDisagreeIcon" onclick="initializeMapWithProperty(\'countrynorankings\')"tabindex="8"/></span>';
    panel+=disagreePanel;
    countofNewsPanel='<span><input name="submit" id="submitme" type="button"  class="panelMostDiscussedIcon" onclick="initializeMapWithProperty(\'countrynewsrankings\')"></span>';
    neutralPanel='<span><input name="submit" id="submitme" type="button"  class="panelNeutralIcon" onclick="initializeMapWithProperty(\'countryneutralrankings\')"></span>';
    panel+=neutralPanel
    panel+=countofNewsPanel;

    if(authenticated==true)
    {
     addPanel='<span><input name="submit" id="submitme" type="button"  class="panelAddNewsIcon" onclick="showModalWithId(\'#myModal\')"tabindex="8"  /></span>';
     //addPanel='<span><a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/images/theme/icons/addNews.png" style="width: 50px;height:50px;margin-top:-42px;"/></a></span>'

     panel+=addPanel;

    }
    if(authenticated==true)
    {
    settingsPanel= '<span><input name="submit" id="submitme" type="image"src="/static/images/settings.png"style="width:50px;height:50px;"onclick="showRefreshModal()"tabindex="8"  /></span>'
    //panel+=settingsPanel;
    palettePanel='<span><input name="submit" id="submitme" type="image"src="/static/images/palette.png"style="width:50px;height:50px;margin-left:-4px;"onclick="openColorPicker()"tabindex="8"  /></span>';
    //panel+=palettePanel

    }
    if(authenticated==false)
    {
    loginPanel= '<span><input name="submit" id="submitme" type="image"src="/static/images/login.png"style="width:50px;height:50px;margin-left:-4px;"onclick="showModalWithId(\'#loginModal\')"tabindex="8"  /></span>'
    //panel+=loginPanel;
    registerPanel='<span><input name="submit" id="submitme" type="image"src="/static/images/register.png"style="width:50px;height:50px;margin-left:-4px;"onclick="showModalWithId(\'#registerModal\')"tabindex="8"  /></span>';
    //panel+=registerPanel;
    }


    if(authenticated==true)
    {
        logoutPanel='<a href="/logout"><span><input name="submit" id="submitme" type="image"src="/static/images/logout.png"style="width:50px;height:50px;margin-left:-4px;"tabindex="8"  /></span></a>';
        //panel+=logoutPanel;
    }
    selectedMapType=mapTypeMapping[mapTypeProperty];
    console.log("selectedMapType is " +selectedMapType);
    selectedMapTypePanel='<span id="selectedMapTypeId" style="margin-left:520px;" ><b>Selected : </b>'+ selectedMapType +' count <b>|</b> </span>';
    colorSpanMost='<span >Most:'+' <svg width="50" height="50"><rect   width="50" height="50" style="fill:'+mostColor+';stroke-width:1;stroke:rgb(0,0,0)" /></svg></span>';
    colorSpanLeast='<span ">Least:'+' <svg width="50" height="50"><rect width="50" height="50" style="fill:'+leastColor+';stroke-width:1;stroke:rgb(0,0,0)" /></svg></span>';
    colorSpanEmpty='<span ">Empty:'+' <svg width="50" height="50"><rect width="50" height="50" style="fill:'+emptyColor+';stroke-width:1;stroke:rgb(0,0,0)" /></svg></span>';
    //panel+=selectedMapTypePanel;
    //panel+=colorSpanMost;
    //panel+=colorSpanLeast;
    //panel+=colorSpanEmpty;

    ($('#Panels').html(panel));
}
google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>


  <body>




  <div id="map-canvas">
  </div>

<div id="Panels" style="background-color:#707070; width:100%; height:78px; padding:0;margin:0;">
<!--


    <span>
      <input name="submit" id="submitme" type="image"src="/static/images/agreed.png"style="width:50px;height:50px;margin-left:-4px;"onclick="initializeMapWithProperty('countryyesrankings')"tabindex="8"  />
   </span>
   <span>
     <input name="submit" id="submitme" type="image"src="/static/images/disagreed.png"style="width:50px;height:50px;margin-left:-4px;"onclick="initializeMapWithProperty('countrynorankings')"tabindex="8"  />
   </span>


<span>
<input name="submit" id="submitme" type="image"src="/static/images/disagreed2.png"style="width:50px;height:50px;margin-left:-4px;"onclick="removeOverlays()"tabindex="8"  />
</span>

   <span>
     <input name="submit" id="submitme" type="button"  style="width:50px;height:50px;" class="agreedImage" onclick="initializeMapWithProperty('countrynewsrankings')">
   </span>


   <span>

     <a href="#" data-toggle="modal" data-target="#myModal">
       <img src="/static/images/add.png" style='width: 50px;height:50px;margin-top:-42px;'/>
     </a>
   </span>
   <span>
     <input name="submit" id="submitme" type="image"src="/static/images/settings.png"style="width:50px;height:50px;"onclick="showRefreshModal()"tabindex="8"  />
   </span>
   <span>
     <input name="submit" id="submitme" type="image"src="/static/images/login.png"style="width:50px;height:50px;margin-left:-4px;"onclick="showModalWithId('#loginModal')"tabindex="8"  />
   </span>
   <span>
     <input name="submit" id="submitme" type="image"src="/static/images/register.png"style="width:50px;height:50px;margin-left:-4px;"onclick="showModalWithId('#registerModal')"tabindex="8"  />
   </span>-->
    </div> <!--Panels-->

   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title" id="myModalLabel">
             ADD NEWS
           </h4>
         </div>

         <div class="modal-body">
             <form class="form" action="/addnews" method="post">
    <input type='hidden' name='csrfmiddlewaretoken' value='NUu0ra37s5Vq64ANDVLwKrWwWS0wIa7x' />





    <div class="form-group">


        <label class="control-label  " for="id_title">TITLE</label>


        <div class=" ">
            <input class=" form-control customizedInput" id="id_title" maxlength="150" name="title" type="text" />




        </div>

    </div>




    <div class="form-group">


        <label class="control-label  " for="id_description">DESCRIPTION</label>


        <div class=" ">

            <textarea class=" form-control customizedInput" cols="40"  id="id_description" name="description" rows="10"></textarea>




        </div>

    </div>




    <div class="form-group">


        <label class="control-label  " for="id_url">URL</label>


        <div class=" ">
            <input class=" form-control customizedInput"  id="id_url" maxlength="200" name="url" type="url" value="http://www.google.com" />




        </div>

    </div>




    <div class="form-group">


        <label class="control-label  " for="id_locations">LOCATIONS</label>


        <div class=" ">
            <select multiple="multiple" class=" form-control customizedInput" id="id_locations" name="locations">
                <option value="1">Afghanistan</option>
                <option value="2">Aland Islands</option>
                <option value="3">Albania</option>
                <option value="4">Algeria</option>
                <option value="5">American Samoa</option>
                <option value="6">Andorra</option>
                <option value="7">Angola</option>
                <option value="8">Anguilla</option>
                <option value="9">Antigua and Barbuda</option>
                <option value="10">Argentina</option>
                <option value="11">Armenia</option>
                <option value="12">Aruba</option>
                <option value="13">Ascension Island</option>
                <option value="14">Australia</option>
                <option value="15">Austria</option>
                <option value="16">Azerbaijan</option>
                <option value="17">The Bahamas</option>
                <option value="18">Bahrain</option>
                <option value="19">Bangladesh</option>
                <option value="20">Barbados</option>
                <option value="21">Belarus</option>
                <option value="22">Belgium</option>
                <option value="23">Belize</option>
                <option value="24">Benin</option>
                <option value="25">Bermuda</option>
                <option value="26">Bhutan</option>
                <option value="27">Bolivia</option>
                <option value="28">Bonaire</option>
                <option value="29">Bosnia and Herzegovina</option>
                <option value="30">Botswana</option>
                <option value="31">Brazil</option>
                <option value="32">British Indian Ocean Territory</option>
                <option value="33">British Virgin Islands</option>
                <option value="34">Brunei</option>
                <option value="35">Bulgaria</option>
                <option value="36">Burkina Faso</option>
                <option value="37">Burundi</option>
                <option value="38">Cambodia</option>
                <option value="39">Cameroon</option>
                <option value="40">Canada</option>
                <option value="41">Cape Verde</option>
                <option value="42">Cayman Islands</option>
                <option value="43">Central African Republic</option>
                <option value="44">Chad</option>
                <option value="45">Chile</option>
                <option value="46">China</option>
                <option value="47">Christmas Island</option>
                <option value="48">Cocos (Keeling) Islands</option>
                <option value="49">Colombia</option>
                <option value="50">Comoros</option>
                <option value="51">Republic of the Congo</option>
                <option value="52">Democratic Republic of the Congo</option>
                <option value="53">Cook Islands</option>
                <option value="54">Costa Rica</option>
                <option value="55">Croatia</option>
                <option value="56">Cuba</option>
                <option value="57">Curacao</option>
                <option value="58">Cyprus</option>
                <option value="59">Czech Republic</option>
                <option value="60">Denmark</option>
                <option value="61">Djibouti</option>
                <option value="62">Dominica</option>
                <option value="63">Dominican Republic</option>
                <option value="64">Ecuador</option>
                <option value="65">Egypt</option>
                <option value="66">El Salvador</option>
                <option value="67">Equatorial Guinea</option>
                <option value="68">Eritrea</option>
                <option value="69">Estonia</option>
                <option value="70">Ethiopia</option>
                <option value="71">Falkland Islands</option>
                <option value="72">Faroe Islands</option>
                <option value="73">Fiji</option>
                <option value="74">Finland</option>
                <option value="75">France</option>
                <option value="76">French Guiana</option>
                <option value="77">French Polynesia</option>
                <option value="78">French Southern and Antarctic Lands</option>
                <option value="79">Gabon</option>
                <option value="80">Gambia</option>
                <option value="81">Georgia</option>
                <option value="82">Germany</option>
                <option value="83">Ghana</option>
                <option value="84">Gibraltar</option>
                <option value="85">Greece</option>
                <option value="86">Greenland</option>
                <option value="87">Grenada</option>
                <option value="88">Guadeloupe</option>
                <option value="89">Guam</option>
                <option value="90">Guatemala</option>
                <option value="91">Guernsey</option>
                <option value="92">Guinea</option>
                <option value="93">Guinea Bissau</option>
                <option value="94">Guyana</option>
                <option value="95">Haiti</option>
                <option value="96">Vatican City</option>
                <option value="97">Honduras</option>
                <option value="98">Hong Kong</option>
                <option value="99">Hungary</option>
                <option value="100">Iceland</option>
                <option value="101">India</option>
                <option value="102">Indonesia</option>
                <option value="103">Ivory Coast</option>
                <option value="104">Iran</option>
                <option value="105">Iraq</option>
                <option value="106">Ireland</option>
                <option value="107">Isle of Man</option>
                <option value="108">Israel</option>
                <option value="109">Italy</option>
                <option value="110">Jamaica</option>
                <option value="111">Japan</option>
                <option value="112">Jersey</option>
                <option value="113">Jordan</option>
                <option value="114">Kazakhstan</option>
                <option value="115">Kenya</option>
                <option value="116">Kiribati</option>
                <option value="117">Kuwait</option>
                <option value="118">Kyrgyzstan</option>
                <option value="119">Laos</option>
                <option value="120">Latvia</option>
                <option value="121">Lebanon</option>
                <option value="122">Lesotho</option>
                <option value="123">Liberia</option>
                <option value="124">Libya</option>
                <option value="125">Liechtenstein</option>
                <option value="126">Lithuania</option>
                <option value="127">Luxembourg</option>
                <option value="128">Macedonia</option>
                <option value="129">Madagascar</option>
                <option value="130">Malawi</option>
                <option value="131">Malaysia</option>
                <option value="132">Maldives</option>
                <option value="133">Mali</option>
                <option value="134">Malta</option>
                <option value="135">Marshall Islands</option>
                <option value="136">Martinique</option>
                <option value="137">Mauritania</option>
                <option value="138">Mauritius</option>
                <option value="139">Mayotte</option>
                <option value="140">Mexico</option>
                <option value="141">Federated States of Micronesia</option>
                <option value="142">Moldova</option>
                <option value="143">Monaco</option>
                <option value="144">Mongolia</option>
                <option value="145">Montenegro</option>
                <option value="146">Montserrat</option>
                <option value="147">Morocco</option>
                <option value="148">Mozambique</option>
                <option value="149">Myanmar</option>
                <option value="150">Namibia</option>
                <option value="151">Nauru</option>
                <option value="152">Nepal</option>
                <option value="153">Netherlands</option>
                <option value="154">New Caledonia</option>
                <option value="155">New Zealand</option>
                <option value="156">Nicaragua</option>
                <option value="157">Niger</option>
                <option value="158">Nigeria</option>
                <option value="159">Niue</option>
                <option value="160">Norfolk Island</option>
                <option value="161">North Korea</option>
                <option value="162">Northern Mariana Islands</option>
                <option value="163">Norway</option>
                <option value="164">Oman</option>
                <option value="165">Pakistan</option>
                <option value="166">Palau</option>
                <option value="167">West Bank</option>
                <option value="168">Panama</option>
                <option value="169">Papua New Guinea</option>
                <option value="170">Paraguay</option>
                <option value="171">Peru</option>
                <option value="172">Philippines</option>
                <option value="173">Pitcairn Islands</option>
                <option value="174">Poland</option>
                <option value="175">Portugal</option>
                <option value="176">Puerto Rico</option>
                <option value="177">Qatar</option>
                <option value="178">Kosovo</option>
                <option value="179">Reunion</option>
                <option value="180">Romania</option>
                <option value="181">Russia</option>
                <option value="182">Rwanda</option>
                <option value="183">Saint Barthelemy</option>
                <option value="184">Saint Helena</option>
                <option value="185">Saint Kitts and Nevis</option>
                <option value="186">Saint Lucia</option>
                <option value="187">Saint Martin</option>
                <option value="188">Saint Pierre and Miquelon</option>
                <option value="189">Saint Vincent and the Grenadines</option>
                <option value="190">Samoa</option>
                <option value="191">San Marino</option>
                <option value="192">Sao Tome and Principe</option>
                <option value="193">Saudi Arabia</option>
                <option value="194">Senegal</option>
                <option value="195">Republic of Serbia</option>
                <option value="196">Seychelles</option>
                <option value="197">Sierra Leone</option>
                <option value="198">Singapore</option>
                <option value="199">Sint Maarten</option>
                <option value="200">Slovakia</option>
                <option value="201">Slovenia</option>
                <option value="202">Solomon Islands</option>
                <option value="203">Somalia</option>
                <option value="204">South Africa</option>
                <option value="205">South Georgia</option>
                <option value="206">South Korea</option>
                <option value="207">South Sudan</option>
                <option value="208">Spain</option>
                <option value="209">Sri Lanka</option>
                <option value="210">Sudan</option>
                <option value="211">Suriname</option>
                <option value="212">Svalbard and Jan Mayen</option>
                <option value="213">Swaziland</option>
                <option value="214">Sweden</option>
                <option value="215">Switzerland</option>
                <option value="216">Syria</option>
                <option value="217">Taiwan</option>
                <option value="218">Tajikistan</option>
                <option value="219">United Republic of Tanzania</option>
                <option value="220">Thailand</option>
                <option value="221">East Timor</option>
                <option value="222">Togo</option>
                <option value="223">Tokelau</option>
                <option value="224">Tonga</option>
                <option value="225">Trinidad and Tobago</option>
                <option value="226">Tunisia</option>
                <option value="227">Turkey</option>
                <option value="228">Turkmenistan</option>
                <option value="229">Turks and Caicos Islands</option>
                <option value="230">Tuvalu</option>
                <option value="231">Uganda</option>
                <option value="232">Ukraine</option>
                <option value="233">United Arab Emirates</option>
                <option value="234">United Kingdom</option>
                <option value="235">United States of America</option>
                <option value="236">United States Virgin Islands</option>
                <option value="237">Uruguay</option>
                <option value="238">Uzbekistan</option>
                <option value="239">Vanuatu</option>
                <option value="240">Venezuela</option>
                <option value="241">Vietnam</option>
                <option value="242">Wallis and Futuna</option>
                <option value="243">Western Sahara</option>
                <option value="244">Yemen</option>
                <option value="245">Zambia</option>
                <option value="246">Zimbabwe</option>
                <option value="247">Northern Cyprus</option>
                <option value="248">Somaliland</option>
                <option value="249">Globe</option>
            </select>




            <p class="help-block">
                Hold down "Control", or "Command" on a Mac, to select more than one.
            </p>

        </div>

    </div>




    <input type="submit" class="submitButtonArgument"  value=""/>
</form>

         </div>

       </div>
     </div>
   </div>


  <div class="modal fade " id="argumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="argumentModalLabel">
             ADD ARGUMENT
           </h4>
         </div>
         <div id="tempDiv">
           <div class="modal-body local" id="argumentDiv">

             <div id="argumentModalInfo">

             </div>

           </div>
         </div>
    </div>
      </div>
   </div>




   <!-- Yes modal-->
   <div class="modal fade " id="yesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="yesModalLabel">
             AGREED
           </h4>
         </div>
         <div id="yesTempDiv">
           <div class="modal-body local" id="yesDiv">

             <div id="yesModalInfo">

             </div>

           </div>
         </div>
    </div>
        </div>
   </div>
   <!-- Yes modal-->




   <!-- No modal-->
   <div class="modal fade " id="noModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="noModalLabel">
             DISAGREED
           </h4>
         </div>
         <div id="noTempDiv">
           <div class="modal-body local" id="noDiv">

             <div id="noModalInfo">

             </div>

           </div>
         </div>
    </div>
        </div>
   </div>
   <!-- No modal-->




   <!-- Neutral modal-->
   <div class="modal fade " id="neutralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="neutralModalLabel">
             NEUTRALS
           </h4>
         </div>
         <div id="neutralTempDiv">
           <div class="modal-body local" id="neutralDiv">

             <div id="neutralModalInfo">

             </div>

           </div>
         </div>
    </div>
        </div>
   </div>
   <!-- Neutral modal-->

   <!-- Summary modal-->
   <div class="modal fade " id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="summaryModalLabel">
             SUMMARY
           </h4>
         </div>
         <div id="summaryTempDiv">
           <div class="modal-body local" id="summaryDiv">

             <div id="summaryModalInfo">

             </div>

           </div>
         </div>
    </div>
        </div>
   </div>
   <!-- Neutral modal-->



   <!-- RefreshRate Modal-->

   <div class="modal fade " id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="settingsModalLabel">
             MAP SETTINGS
           </h4>
         </div>
         <div id="settingsTempDiv">
           <div class="modal-body local" id="settingsDiv">

             <div id="settingsModalInfo">
               <form id="settingsForm" action="/maprefresh" method="post">
                 <div class="form-group">
                    <label class="control-label"for="id_username">REFRESHRATE</label>
                    <div class=" ">

                        <input id="refreshInput"class=" form-control customizedInput" type="text" value="-1" name="refreshInputName"/>

                    </div>
                </div>
                 <br/>

                 <input type="hidden" name="mapType" id="mapTypeInput" value=""/>

                 <input type="submit" class="submitButtonArgument" value=""/>


               </form>

             </div>

           </div>
         </div>
    </div>
        </div>
   </div>
   <!--Refresh rate-->

   <!--Login-->
   <div class="modal fade " id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="loginModalLabel">
             LOGIN
           </h4>
         </div>
         <div id="loginTempDiv">
           <div class="modal-body local" id="loginDiv">

             <div id="loginModalInfo">
               <form id="loginForm" action="/login" method="post">
                 <div class="form-group">
                    <label class="control-label  " for="id_username">USERNAME</label>
                    <div class=" ">

                        <input id="usernameInput"  class=" form-control customizedInput" type="text" value="" name="username"/>

                    </div>
                </div>

                 <br/>
                  <div class="form-group">
                    <label class="control-label  " for="id_username">PASSWORD</label>
                    <div class=" ">

                         <input id="passwordInput" class=" form-control customizedInput" type="password" value="" name="password"/>

                    </div>
                </div>

                 <br/>
                 <input type="submit" class="submitButtonArgument"  value=""/>


               </form>

             </div>

           </div>
         </div>
    </div>
   </div>
   </div>

   <!--Login-->



   <!--Register-->
   <div class="modal fade " id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="registerModalLabel">
             REGISTER
           </h4>
         </div>
         <div id="registerTempDiv">
           <div class="modal-body local" id="registerDiv">

             <div id="registerModalInfo">
                <form class="form" action="/register" method="post">

                    <div class="form-group">
                        <label class="control-label  " for="id_username">Username</label>
                        <div class=" ">
                             <input class=" form-control customizedInput" id="id_username" maxlength="30" name="username" type="text">

                        </div>
                    </div>
                    <div class="form-group">
                         <label class="control-label  " for="id_password1">Password</label>
                         <div class=" ">
                            <input class=" form-control customizedInput" id="id_password1" name="password1" type="password">
                        </div>
                     </div>
                    <div class="form-group">
                        <label class="control-label  " for="id_password2">Password confirmation</label>
                        <div class=" ">
                            <input class=" form-control customizedInput" id="id_password2" name="password2" type="password">

                        </div>
                    </div>
                    <input type="submit" class="submitButtonArgument"  value=""/>
                </form>

             </div>

           </div>
         </div>
    </div>
   </div>
   </div>

   <!--Register-->




  <!--Color Picker-->
   <div class="modal fade " id="colorPickerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="colorPickerModalLabel">
             Color Picker
           </h4>
         </div>
         <div id="colorPickerTempDiv">
           <div class="modal-body local" id="colorPickerDiv">

             <div id="colorPickerModalInfo">
               <form id="colorPickerForm" action="/colorofmap" method="post">
                 <label>
                   Most:
                 </label>
                   <input id="colorPickerMostInput" type="text" class="basic" name="colorPickerMost"/>
                 <br/>
                   <label>Least:</label>


                 <input id="colorPickerLeastInput" type="text" class="basic" name="colorPickerLeast"/>
                 <br/>
                  <label>Empty</label>


                 <input id="colorPickerEmptyInput" type="text" class="basic" name="colorPickerEmpty"/>
                 <br/>
                   <label>Globe</label>

                  <input id="colorPickerGlobeInput" type="text" class="basic" name="colorPickerGlobe"/>
                 <br/>
                   <label>Stroke</label>

                  <input id="colorPickerStrokeInput" type="text" class="basic" name="colorPickerStroke"/>
                 <br/>
                    <label>Stroke Weight :</label>
                   <input id="colorPickerStrokeWeightInput" type="text" name="colorPickerStrokeWeight"/>
                 <br/>

                 <input type="submit" value="Submit"/>


               </form>

             </div>

           </div>
         </div>
    </div>
   </div>
   </div>




  <!--Color Picker-->


































   <!--Empty Modal-->
   <div class="modal fade " id="emptyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header local">
           <button type="button" class="close local" onclick="emptyModal()" data-dismiss="modal" aria-hidden="true">
             &times;
           </button>
           <h4 class="modal-title local" id="emptyModalLabel">
             Register
           </h4>
         </div>
         <div id="emptyTempDiv">
           <div class="modal-body local" id="emptyDiv">

             <div id="emptyModalInfo">
                <h2>hey there</h2>

             </div>

           </div>
         </div>
    </div>
   </div>
   </div>

   <!--Empty Modalr-->














  </body>
</html>