{% extends 'base.html' %}
{% block content %}
{%  load bootstrap %}
    <h4 style="color:#428BCD">{{ selectedNews.title }}</h4>

     <div class=" col-lg-4 col-xs-4">

         <ul style="list-style: none">
        {% for singleArgument in selectedNews.getYesArguments %}

        <li>
           <span class="glyphicon glyphicon-ok-circle"></span> {{singleArgument.count }}  {{ singleArgument.title }}  <a href="/incrementargument/{{ singleArgument.id }}"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </li>
        {% endfor %}
      </ul>
    </div>


    <div class=" col-lg-4 col-xs-4">

    <ul style="list-style: none">
        {% for singleArgument in selectedNews.getNoArguments %}

        <li>
            <span class="glyphicon glyphicon-remove-circle"></span> {{singleArgument.count }} {{ singleArgument.title }}   <a href="/incrementargument/{{ singleArgument.id }}"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </li>
        {% endfor %}


    </ul>
    </div>
    <div class=" col-lg-4 col-xs-4">

    <ul style="list-style: none">
        {% for singleArgument in selectedNews.getNeutralArguments %}

        <li>
          <span class="glyphicon glyphicon-sort"></span> {{singleArgument.count }} {{ singleArgument.title }}   <a href="/incrementargument/{{ singleArgument.id }}"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </li>
        {% endfor %}


    </ul>
    </div>
    <br>
    <br>

    <div class=" col-lg-12 col-xs-12">
    <form action = "/newsaddargument/{{ selectedNews.id }}/" method="post">{%  csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Submit"/>
    </form>
    </div>

{% endblock %}