<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% for mykey,myvalue in jsonData.items %}

        <a href="{{ myvalue }}"> <h3>{{ mykey }} </h3></a>


{% endfor %}



</body>
</html>