.agreedImage
{
	
	background: url(/static/images/newstitles.png);
	background-repeat: no-repeat;
}

.agreedImage:hover
{
	#background: url(/static/images/icon_small/icon_small_2.png);
	#background-repeat: no-repeat;
}

label
{
	font-family: 'Raleway', serif;
 font-size:10pt;
 /*margin-left:4%;*/
 color:#717171;
 font-weight:600;
}
input.customizedInput
{
background:#ebebeb !important;
font-family: 'Raleway', serif !important;
 font-size:12pt !important;
}
textarea.customizedInput
{
background:#ebebeb !important;
font-family: 'Raleway', serif !important;
 font-size:12pt !important;
}
select.customizedInput
{
background:#ebebeb !important;
font-family: 'Raleway', serif !important;
 font-size:12pt !important;
}
h4.modal-title
{
	font-family: 'Raleway', serif !important;
 font-size:18pt !important;
}
.modal-header {
    /*padding:9px 15px;*/
    border-bottom:1px solid #eee;
    background-color:#717171/*#4298ee;*/
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
	 */
 }

 .modal-header h4
 {
	
	color:white
 }
 .modal-header.close
 {
	color:white
 }
 
 .modal-dialog {
    
    
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
		  min-width:50px;
		  
		  
}
 
.large
{
    width: 90%; /* respsonsive width */
     
}

.modal .modal-body {
   -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
		  background:#ebebeb;
		  
		  
}



.colorPicker
{
	background:rgba(0, 0, 0, 0.8); 
}

.argumentInfoWindow
{
	background: url(/static/images/theme/icons/plusIcon.png);
	background-repeat: no-repeat;
	padding: 0;
	border: none;
	width:25px;
	height:25px;
	margin-left:4px;
}
.yesInfoWindow
{
	
	background: url(/static/images/theme/icons/agreedsmall.png);
	background-repeat: no-repeat;
	padding: 0;
	border: none;
	width:25px;
	height:25px;
	margin-left:2px;
}

.yesInfoWindowWithoutInput
{
	
	background: url(/static/images/theme/icons/agreedsmall.png);
	background-repeat: no-repeat;
	cursor:text;
	padding: 0;
	border: none;
	width:25px;
	height:25px;
	margin-left:2px;
}

.yesInfoWindow:hover
{
	
	
	
}
.noInfoWindow
{
	background: url(/static/images/theme/icons/disagreedsmall.png);
	background-repeat: no-repeat;
	padding: 0;
	border: none;
	width:25px;
	height:25px;
	margin-left:12px;
}

.noInfoWindowWithoutInput
{
	background: url(/static/images/theme/icons/disagreedsmall.png);
	background-repeat: no-repeat;
	padding: 0;
	border: none;
	width:25px;
	height:25px;
	margin-left:12px;
}

.noInfoWindow:hover
{
	
	
}
.neutralInfoWindow
{
		background: url(/static/images/theme/icons/neutralsmall.png);
	background-repeat: no-repeat;
	padding: 0;
	border: none;
	width:25px;
	height:25px;
	margin-left:12px;
}

.neutralInfoWindowWithoutInput
{


	background: url(/static/images/theme/icons/neutralsmall.png);
	background-repeat: no-repeat;
	padding: 0;
	border: none;
	width:25px;
	height:25px;
	margin-left:12px;


}
.summaryInfoWindow
{
	background: url(/static/images/theme/icons/summaryIcon.png);
	background-repeat: no-repeat;
	padding: 0;
	border: none;
	width:25px;
	height:25px;
	margin-left:12px;
}
.summaryInfoWindow:hover
{

}


.panelAgreeIcon
{
	background: url(/static/images/theme/icons/agreed.png);
	background-repeat: no-repeat;
	border: none;
	padding:0;
	width:78px;
	height:78px;
	margin-left:-4px;

}

.panelAgreeIcon:hover
{
	background: url(/static/images/theme/icons/agreedHover.png);
	background-repeat: no-repeat;

}

.panelAddNewsIcon
{
	background: url(/static/images/theme/icons/addNews.png);
	background-repeat: no-repeat;
	border: none;
	padding:0;
	width:78px;
	height:78px;
	margin-left:2px;
	/*margin-left:-4px;*/

}

.panelAddNewsIcon:hover
{
	background: url(/static/images/theme/icons/addNewsHover.png);
	background-repeat: no-repeat;

}


.panelNeutralIcon
{
	background: url(/static/images/theme/icons/neutral.png);
	
	background-repeat: no-repeat;
	border: none;
	margin-left:1px!important;
	padding:0;
	width:78px;
	height:78px;
	
	

}

.panelNeutralIcon:hover
{
	background: url(/static/images/theme/icons/neutralHover.png);
	background-repeat: no-repeat;

}



.panelMostDiscussedIcon
{
	background: url(/static/images/theme/icons/news.png);
	background-repeat: no-repeat;
	border: none;
	padding:0;
	width:78px;
	height:78px;
	margin-left:2px;
	/*margin-left:-4px;*/

}

.panelMostDiscussedIcon:hover
{
	background: url(/static/images/theme/icons/newsHover.png);
	background-repeat: no-repeat;

}




.panelDisagreeIcon
{
	background: url(/static/images/theme/icons/disagreed.png);
	background-repeat: no-repeat;
	margin-left:0px;
	border: none;
	padding:0;
	width:78px;
	height:78px;
}
.panelDisagreeIcon:hover
{
	background: url(/static/images/theme/icons/disagreedHover.png);
	background-repeat: no-repeat;

}

 .labels {
     color: red;
     background-color: black;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
	 color:white;
         
     border: 2px solid black;
     white-space: nowrap;
   }
   
.globeControl
{
	 top:auto !important; 
	 left:auto !important; 
	 right: 0px !important; 
	 bottom: 20px !important;
	 width:500px;
}
/*
.gm-style-cc { display:none; }
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
*/

.submitButtonArgument
{
	background: url(/static/images/theme/icons/submitImage.png);
	background-repeat: no-repeat;
	margin-left:87%;
	width:70px;
	height:29px;
	 -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
		   border: 0px;
    background-color: none!important;
    cursor: pointer !important;
    outline: 0 !important;
	
}
.countryName
{
 font-family: 'Raleway', serif;
 font-size:23pt;
 color:#717171;
 font-weight:300;

}
.smallNearCountry1
{
 font-family: 'Raleway', serif;
 font-size:8pt;
 /*margin-left:4%;*/
 color:#4298ee;
 font-weight:bold;
 margin-left:2%;
}
.smallNearCountry2
{
 font-family: 'Raleway', serif;
 font-size:8pt;
 color:black;
 font-weight:bold;
 
}

.argumentAddYesIcon
{
	
 width: 25px;
 height:25px;
 display:block;
 background:url(/static/images/theme/icons/agreedsmall.png);
 background-repeat: no-repeat;
 float:left;
	
}

.argumentAddNoIcon
{
	
 width: 25px;
 height:25px;
 display:block;
 background:url(/static/images/theme/icons/disagreedsmall.png);
 background-repeat: no-repeat;
 float:left;
	
}


.argumentAddNeutralIcon
{
	
 width: 25px;
 height:25px;
 display:block;
 background:url(/static/images/theme/icons/neutralsmall.png);
 background-repeat: no-repeat;
 float:left;
	
}

.twitterbird {
 margin-bottom: 10px;
 width: 160px;
 height:160px;
 display:block;
 background:url(/static/images/theme/icons/agreedsmall.png);
}

.twitterbird:hover {
   background-image: url('twitterbird_hover.png');
}
.insideArgumentNewsTitle
{
 font-family: 'Raleway', serif !important;
 font-size:12pt !important;
 color:#717171 !important;
 font-weight:500 !important;
}
.insideArgumentArgumentTitle
{
	font-family: 'Raleway', serif !important;
 font-size:11pt !important;
 color:#717171 !important;
 font-weight:600 !important;
}
.insideArgumentArgumentDescription
{
	font-family: 'Raleway', serif !important;
 font-size:11pt !important;
 color:#717171 !important;
 font-weight:400 !important;
}
.signUpMapControl
{ 
 cursor:pointer!important;
 background:url(static/images/theme/icons/signup.png) !important;
 background-repeat: no-repeat !important;
 height:28px !important;
 width:70px !important;
}
.infoBoxCounts
{
	color:#4297f2;
	font-family:'myriad';
	font-size:11pt;
	font-weight:600;
}
.infoBoxCountsAddArgument
{
	color:#4297f2;
	font-family:'myriad';
	font-size:11pt;
	font-weight:600;
	margin-top:5px;
}
#argumentModalInfo
{
	font-family: 'Raleway', serif !important;
	font-size:12pt !important;
	color:#717171 !important;
	font-weight:500 !important
}


.bubble
{
position: relative;
width: 345px;
height: 250px;
padding: 0px;
background: #ebebeb;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border: #7F7F7F solid 1px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 41px 16px 0;
border-color: #ebebeb transparent;
display: block;
width: 0;
z-index: 1;
bottom: -41px;
left: 0px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 41px 16px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
bottom: -42px;
left: 0px;
}
.titleInSummary
{
    color:#484848;
	font-family:'Myriad Pro';
	font-size:14pt;
	font-weight:600;
}

